*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-febd69: #febd69;
  --color-232f3e: #232f3e;
}
body {
  font-family: 'Rubik', sans-serif;
}
a {
  text-decoration: none;
  display: inline-block;
}
.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-30 {
  gap: 30px;
}

/*      Header part      */
.header-top-strip {
  background-color: var(--color-131921);
  border-bottom: 1px solid var(--color-3b4149);
}

.header-upper {
  background-color: var(--color-131921);
}
#basic-addon1 {
  background-color: var(--color-febd69);
}

.header-upper-links img {
  width: 30px;
  height: 30px;
}

.header-bottom {
  background-color: var(--color-232f3e);
}
.header-bottom .menu-links div a,.header-bottom .dropdown button {
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.header-bottom .dropdown button:focus {
  box-shadow: none;
}
.header-bottom .dropdown .dropdown-menu {
  background-color: var(--color-131921);
}
.header-bottom .dropdown .dropdown-menu li a {
  color: white;
}
.header-bottom .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
}
.header-bottom .dropdown .dropdown-menu .dropdown-item{
  padding: 10px;
  border-bottom: 1px solid var(--color-3b4149);
}
.header-bottom .dropdown .dropdown-menu .dropdown-item:hover{
  color: var(--color-febd69);
}



/*    end  Header part      */


/*      Footer part      */
footer {
  background-color: var(--color-232f3e);
}
.footer-3 {
  border-top: 1px solid var(--color-3b4149);
}
.footer-inputs {
  background-color: var(--color-131921);
  color: #fff;
}
.footer-signup-container img {
  width: 25px;
}
.footer-signup-container h2{
  font-size: 20px;
}
/*    end  Footer part      */